@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
font-family: 'Anton', sans-serif;
background-color: aquamarine;
margin: 0;
padding: 0;
}

header{
    width: 100%;
    text-align: center;
    border: solid seagreen 2px ;
    background-color: skyblue;
}


.all-of-it{
    display: flex;
    flex-direction: column;

}
.current-forecast{
    padding: 1rem;
    margin: 1rem;
    border: solid navy;
    flex: 1;
    background-color: royalblue;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.current-forecast img{
    display:flex;
    justify-content:center;
    align-items:center;
   
    
}

.dayCardWrapper{
    margin: 1rem;
}

.five-day-forecast{
    display: flex;
    margin: 1rem;
    text-align: center;
    border: solid navy;
    background: skyblue;
    border-radius: 10px;
    color: white;
    
}

.five-day-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.forecast-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.iconDescription {
    position:absolute;
    top:50%;
    left:50%;
    
}

#invisible{
    visibility: hidden;
}




.top-section{
    display:flex;
    flex-direction: row;

}


    
#previous-cities{
    flex-direction: column;
    flex: 1;
    display:flex;
    padding:1rem;
}

.previous-cities-button{
    margin-top: 10px;
    border: solid 1px;
    border-radius: 6px;
    background-color: skyblue;
    color: indigo;
}

.side-bar-form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.input-button{
    border-radius: 6px;
    background: skyblue;
    border: solid 1px navy;
}


@media screen and (max-width:768px) {
    .top-section{
        flex-direction: column;
    }

    .five-day-forecast{
        flex-direction: column;
    }


}